.header {
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header img {
  width: 150px;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.menu .menu-item {
  margin: 10px 25px;
  font-size: 20px;
  text-align: center;
  width: 85px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu .menu-item p {
  position: absolute;
  opacity: 0;
  transition: all 0.2s linear;
  color: #141414;
}

.menu .menu-item a {
  text-decoration: none;
  color: #141414;
}

.menu .menu-item .elem {
  opacity: 1;
  transition: all 0.2s linear;
}
.menu .menu-item:hover .par:nth-child(1) {
  animation-delay: 0.12s;
}
.menu .menu-item:hover .par:nth-child(2) {
  animation-delay: 0.24s;
}
.menu .menu-item:hover .par:nth-child(3) {
  animation-delay: 0.36s;
}
.menu .menu-item:hover .par:nth-child(4) {
  animation-delay: 0.48s;
}
.menu .menu-item:hover .par:nth-child(5) {
  animation-delay: 0.6s;
}
.menu .menu-item:hover .par:nth-child(6) {
  animation-delay: 0.72s;
}
.menu .menu-item:hover .par {
  animation: opacPar 0.2s linear;
}
.menu .menu-item:hover .elem {
  animation: opacElem 0.84s linear forwards;
}

@keyframes opacPar {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  50% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1);
  }
}

@keyframes opacElem {
  0% {
    opacity: 1;
  }
  10% {
    opacity: 0;
  }
  95% {
    opacity: 0;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    text-shadow: 0px 0px 2px #141414, 0px 0px 2px #141414, 0px 0px 2px #141414;
    -webkit-text-shadow: 0px 0px 2px #141414, 0px 0px 2px #141414, 0px 0px 2px #141414;
    -ms-text-shadow: 0px 0px 2px #141414, 0px 0px 2px #141414, 0px 0px 2px #141414;
  }
}

@media (max-width: 800px) {
  .header {
    flex-direction: column;
    gap: 40px;
    padding: 5px;
  }

  .header a {
    background: #f5f5f5;
    border-radius: 5px;
  }
}
